@mixin flex($jc: flex-start, $ai: flex-start, $wrap: wrap) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $wrap;
}

@mixin font($weight: 400, $size: 16px, $height: 1) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}
@mixin hover($url: "") {
  &:hover {
    transition: 300ms ease-in-out;
    background: url($url) center no-repeat;
    background-size: contain;
  }
}
@mixin product($url: "", $top: 0, $left: 0, $width: 80px, $height: 80px) {
  position: absolute;
  background: url($url) center no-repeat;
  background-size: contain;
  width: $width;
  height: $height;
  top: $top;
  left: $left;
}
@mixin notebook {
  @media (max-width: (1366px)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: (1024px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: (768px)) {
    @content;
  }
}
